---
import ReportesCalificaciones from "../../components/reportes/ReportesCalificaciones";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <main class="py-12">
    <ReportesCalificaciones client:only="react" />
  </main>
</Layout>
