---
import ReportesProyectos from '../../components/reportes/ReportesProyectos'
import Layout from '../../layouts/Layout.astro'
---

<Layout>
  <main class="py-12">
    <ReportesProyectos client:only />
  </main>
</Layout>
