---
import Layout from '../../layouts/Layout.astro'
import LoginForm from '../../components/auth/LoginForm.tsx'
---

<Layout title="Ingresar">
  <div class="container mx-auto py-12">
    <LoginForm client:only="react" />
  </div>
</Layout>
