---
import { Image } from 'astro:assets'
import premio from '../../assets/img/premio-pluma.png'
import Button from '../ui/Button.astro'
---

<section class="bg-gradient-to-r from-[#191300] to-[#6D5500] py-24">
  <div class="container mx-auto grid grid-cols-1 lg:grid-cols-[.5fr_1fr]">
    <div class="flex justify-center">
      <!-- Imagen simple -->
      <Image src={premio} alt="Imagen premio" loading="lazy" />
    </div>
    <div class="">
      <div class="flex h-full flex-col items-center justify-center p-6">
        <h2
          class="font-paramo text-center text-5xl leading-16 font-bold text-white"
        >
          Postula tu proyecto a los Premios Príncipe de los Páramos y marca la
          estatuilla con tu nombre.
        </h2>
        <div
          class="grid w-[100%] min-w-[300px] grid-cols-1 gap-8 py-10 md:w-[80%] md:grid-cols-2"
        >
          <Button
            type="primary"
            size="large"
            text="Reglamento"
            href="pdf/reglamento.pdf"
            target="_blank"
            fullWidth
          />
          <Button
            size="large"
            text="Postular"
            href="/proyecto"
            fullWidth
            target="_blank"
          />
        </div>
      </div>
    </div>
  </div>
</section>
