---
import Button from "../ui/Button.astro";
---

<section class="bg-[#1E1E1E] py-16">
  <div class="container mx-auto pb-16">
    <h2 class="text-2xl text-center leading-10 text-white md:text-3xl">
      Reconocemos y celebramos la diversidad y la biodiversidad de nuestra
      Colombia.
    </h2>
  </div>
  <div class="container mx-auto">
    <div class="">
      <!-- Imagen simple -->
      <img
        src="/src/assets/img/imagen-festival.png"
        alt="Texto embebido visualmente"
        class="w-full"
        loading="lazy"
      />
      <div class="w-full flex justify-center py-5">
        <Button
          text="Programación"
          type="primary"
          size="large"
          href="/programacion"
          class="w-[300px]"
        />
      </div>
    </div>
  </div>
</section>
