---
import { Image } from 'astro:assets'
import festival from '../../assets/img/imagen-festival.png'
import Button from '../ui/Button.astro'
---

<section
  id="programacion-scroll"
  class="translate-y-10 bg-[#1E1E1E] py-16 opacity-0 transition-all duration-700 ease-out"
>
  <div class="container mx-auto pb-16">
    <h2 class="text-center text-2xl leading-10 text-white md:text-3xl">
      Reconocemos y celebramos la diversidad y la biodiversidad de nuestra
      Colombia.
    </h2>
  </div>
  <div class="container mx-auto">
    <div class="">
      <!-- Imagen simple -->
      <Image src={festival} alt="Imagen festival" loading="lazy" />
      <div class="flex w-full justify-center py-5">
        <Button
          text="Programación"
          type="primary"
          size="large"
          href="/proximamente"
          class="w-[300px]"
          target="_blank"
        />
      </div>
    </div>
  </div>
</section>
<script is:inline>
  const target = document.getElementById('programacion-scroll')

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add('opacity-100', 'translate-y-0')
          entry.target.classList.remove('opacity-0', 'translate-y-10')
        }
      })
    },
    {
      threshold: 0.2,
    }
  )

  observer.observe(target)
</script>
