---
import LogoutButton from "../components/LogoutButton";
import Layout from "../layouts/Layout.astro";
---

<script>
  import { checkAuth } from "../lib/authGuard";
  checkAuth();
</script>

<Layout>
  <h1>Bienvenido Admin</h1>
  <LogoutButton client:load />
</Layout>
