---
import Layout from "../layouts/Layout.astro";
import JuradoInfo from "../components/JuradoInfo";
import AuthGuard from "../components/AuthGuard";
import Header from "../components/Header";
---

<Layout>
  <Header client:load />
  <AuthGuard client:load>
    <h1>Bienvenido Jurado</h1>
    <JuradoInfo client:load />
    <p>Aquí se mostrarán los proyectos de tu categoría.</p>
  </AuthGuard>
</Layout>
