---
import Layout from "../layouts/Layout.astro";
import LoginForm from "../components/LoginForm";
---

<Layout>
  <div class="max-w-[50vw] mx-auto h-full flex items-center">
    <div class="p-6 w-full">
      <LoginForm client:load />
    </div>
  </div>
</Layout>
