---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <section
    class="flex min-h-screen items-center justify-center bg-gray-100 p-4"
  >
    <div class="max-w-md rounded-xl bg-white p-8 text-center shadow-lg">
      <h1 class="mb-4 text-3xl font-bold text-gray-800">Mantenimiento</h1>
      <p class="mb-6 text-gray-600">
        La página que estás buscando está en mantenimiento. Por favor, vuelve
        pronto.
      </p>
    </div>
  </section>
</Layout>
