---
import Button from '../components/ui/Button.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <section
    class="flex min-h-screen items-center justify-center bg-gray-100 p-4"
  >
    <div class="max-w-md rounded-xl bg-white p-8 text-center shadow-lg">
      <h1 class="mb-4 text-4xl font-bold text-gray-800">¡Muy pronto!</h1>
      <p class="mb-6 text-gray-600">
        Estamos trabajando para habilitar esta sección. ¡Gracias por tu
        paciencia!
      </p>
      <Button href="/" text="Volver al inicio" />
    </div>
  </section>
</Layout>
