---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <div class="container mx-auto p-3">
    <!-- Graylight -->
    <section class="grid w-full grid-cols-11 py-5">
      <div class="flex flex-col items-center">
        <div class="bg-graylight-50 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Graylight 50</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-graylight-100 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Graylight 100</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-graylight-200 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Graylight 200</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-graylight-300 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Graylight 300</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-graylight-400 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Graylight 400</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-graylight-500 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Graylight 500</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-graylight-600 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Graylight 600</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-graylight-700 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Graylight 700</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-graylight-800 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Graylight 800</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-graylight-900 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Graylight 900</span>
      </div>
    </section>

    <!-- Whitepure -->
    <section class="grid w-full grid-cols-11 py-5">
      <div class="flex flex-col items-center">
        <div class="bg-whitepure-50 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Whitepure 50</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-whitepure-100 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Whitepure 100</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-whitepure-200 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Whitepure 200</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-whitepure-300 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Whitepure 300</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-whitepure-400 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Whitepure 400</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-whitepure-500 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Whitepure 500</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-whitepure-600 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Whitepure 600</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-whitepure-700 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Whitepure 700</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-whitepure-800 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Whitepure 800</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-whitepure-900 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Whitepure 900</span>
      </div>
    </section>

    <!-- Golddark -->
    <section class="grid w-full grid-cols-11 py-5">
      <div class="flex flex-col items-center">
        <div class="bg-golddark-50 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Golddark 50</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-golddark-100 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Golddark 100</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-golddark-200 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Golddark 200</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-golddark-300 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Golddark 300</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-golddark-400 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Golddark 400</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-golddark-500 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Golddark 500</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-golddark-600 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Golddark 600</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-golddark-700 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Golddark 700</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-golddark-800 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Golddark 800</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-golddark-900 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Golddark 900</span>
      </div>
    </section>
    <!-- Goldlight -->
    <section class="grid w-full grid-cols-11 py-5">
      <div class="flex flex-col items-center">
        <div class="bg-goldlight-50 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Goldlight 50</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-goldlight-100 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Goldlight 100</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-goldlight-200 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Goldlight 200</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-goldlight-300 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Goldlight 300</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-goldlight-400 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Goldlight 400</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-goldlight-500 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Goldlight 500</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-goldlight-600 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Goldlight 600</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-goldlight-700 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Goldlight 700</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-goldlight-800 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Goldlight 800</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-goldlight-900 h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">Goldlight 900</span>
      </div>
    </section>
    <section class="grid w-full grid-cols-11 py-5">
      <div class="flex flex-col items-center">
        <div class="bg-ui-primary h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">UI Primary</span>
      </div>

      <div class="flex flex-col items-center">
        <div class="bg-ui-secondary h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">UI Secondary</span>
      </div>

      <div class="flex flex-col items-center">
        <div class="bg-ui-tertiary h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">UI Tertiary</span>
      </div>

      <div class="flex flex-col items-center">
        <div class="bg-ui-neutral h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">UI Neutral</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-ui-error h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">UI Error</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-ui-success h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">UI Success</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-ui-warning h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">UI Warning</span>
      </div>
      <div class="flex flex-col items-center">
        <div class="bg-ui-info h-24 w-24 rounded-md"></div>
        <span class="mt-2 text-sm">UI Info</span>
      </div>
    </section>
  </div>
</Layout>
