---
import Footer from '../components/Footer.astro'
import Head from '../components/Head.astro'
import Header from '../components/landing/Header.astro'
import CardDocument from '../components/transparencia/CardDocument.astro'
import Heading from '../components/ui/Heading.astro'
import Layout from '../layouts/Layout.astro'

const documents = [
  {
    title: 'Cámara de Comercio',
    description:
      'Documento que acredita la existencia legal y representación de la fundación.',
    url: '/pdf/camara-comercio.pdf',
  },
  {
    title: 'RUT Registro Unico Tributario',
    description:
      'Identificación fiscal de la fundación ante las autoridades tributarias.',
    url: '/pdf/rut-fundacion.pdf',
  },
  {
    title: 'Código de Ética',
    description:
      'Documento que establece los principios y valores que guían nuestra actuación.',
    url: '/pdf/codigo-etica.pdf',
  },
  {
    title: 'Política de Tratamiento de Datos',
    description:
      'Documento que detalla cómo protegemos y gestionamos los datos personales.',
    url: '/pdf/politica-de-datos.pdf',
  },
]
---

<Head
  title="Transparencia | Premios Príncipe de los Páramos"
  description="Conoce nuestras políticas de transparencia y ética en la gestión de los premios y selección de proyectos."
/>
<Layout>
  <Header />
  <Heading
    title="Transparencia"
    description="Ponemos a tu disposición los documentos clave que reflejan nuestro compromiso con la transparencia."
  />
  <section class="container mx-auto mt-10 mb-10 min-h-screen px-4 pb-10">
    <div class="mb-6 flex items-center justify-between">
      <h2 class="text-lg font-semibold text-black/90">
        Documentos Disponibles
      </h2>
    </div>

    <!-- Document Cards Grid -->
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
      {
        documents.map((document) => (
          <CardDocument
            title={document.title}
            description={document.description}
            url={document.url}
          />
        ))
      }
    </div>
  </section>
  <Footer />
</Layout>
