---
import { Image } from "astro:assets";
import burgerNav from "../assets/icons/burguer-nav.svg";
import instagramIcon from "../assets/icons/InstagramIcon.svg";
import whatsappIcon from "../assets/icons/WhatsappIcon.svg";
---

<header class="bg-white">
  <div class="container mx-auto flex gap-4 justify-between items-center p-4">
    <!-- Logo -->
    <div class="">
      <Image src={burgerNav} alt="Icono Menú" />
    </div>
    <!-- Nombre -->
    <div class="text-lg md:text-2xl leading-5.5 text-center font-semibold">
      <h1 class="font-paramo font-bold">Fundación Príncipe de los Páramos</h1>
    </div>
    <!-- Iconos Redes -->
    <div class="flex gap-4">
      <a href="">
        <Image src={instagramIcon} alt=" Icono Instagram" />
      </a>
      <a href="">
        <Image src={whatsappIcon} alt="Icono Whatsapp" />
      </a>
    </div>
  </div>
</header>
