---
import Button from "./Button.astro";
---

<section class="bg-[#1E1E1E] py-16">
  <div class="container mx-auto pb-16">
    <h2 class="text-2xl text-center leading-10 text-white md:text-3xl">
      Reconocemos y celebramos la diversidad y la biodiversidad de nuestra
      Colombia.
    </h2>
  </div>
  <div class="container mx-auto grid grid-cols-[1fr] lg:grid-cols-[2fr_1fr]">
    <div class="">
      <!-- Imagen simple -->
      <img
        src="/src/assets/img/imagen-festival.png"
        alt="Texto embebido visualmente"
        class="w-full"
        loading="lazy"
      />
    </div>
    <div class="bg-white text-center py-24 px-6">
      <div class="flex justify-center items-center h-full flex-col gap-8">
        <h2 class="text-7xl font-bold font-paramo text-gold-900">
          21 al 25 <br /> de julio
        </h2>
        <Button
          text="Programación"
          type="primary"
          size="large"
          href="/programacion"
          fontWeight="semibold"
        />
      </div>
    </div>
  </div>
</section>
