---
import Layout from "../../layouts/Layout.astro";
import ProyectoFicha from "../../components/Jurado/ProyectoFicha";
import FormularioVotacion from "../../components/FormularioVotacion";
const { id } = Astro.params;
const projectId = id || "defaultId";
---

<Layout>
  <div class="mb-6">
    <a
      href="/jurado"
      class="inline-flex items-center text-sm text-gold-600 hover:underline font-semibold"
    >
      ← Volver al Dashboard
    </a>
  </div>
  <ProyectoFicha id={projectId} client:load />
  <FormularioVotacion proyectoId={projectId} client:load />
</Layout>
