---
import Layout from '../../layouts/Layout.astro'
import RequireAuth from '../../components/auth/RequireAuth'
---

<Layout title="Jurado">
  <RequireAuth>
    <div class="container mx-auto py-12">
      <h1 class="mb-4 text-3xl font-bold">Jurado</h1>
      <p class="text-black/70">Bienvenido. (Vista protegida)</p>
    </div>
  </RequireAuth>
</Layout>
