---
import DashboardJurado from "../../components/jurado/Dashboardjurado.tsx";
import LayoutUser from "../../layouts/LayoutUser.astro";
---

<LayoutUser>
  <div class="container mx-auto">
    <DashboardJurado client:load />
  </div>
</LayoutUser>
