---
import CrearProyectos from "../../components/auto/CrearProyectos";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Auto Poblar Proyectos</title>
  </head>
  <body class="p-10">
    <h1 class="text-2xl font-bold mb-4">🚀 Poblar proyectos de prueba</h1>

    <CrearProyectos client:only="react" />
  </body>
</html>
