---
import Layout from "../../layouts/Layout.astro";
import RegisterJuradoForm from "../../components/admin/RegisterJurado";
---

<Layout>
  <h1>Hola admin</h1>
  <RegisterJuradoForm client:load />
</Layout>
