---
import RegisterJuradoForm from '../../components/admin/RegisterJurado' // o la ruta donde tengas tu componente
import Head from '../../components/Head.astro'
import LayoutFormularios from '../../layouts/LayoutFormularios.astro'
---

<Head title="Registro de jurados" description="Registro de jurados" />
<LayoutFormularios>
  <div class="mx-auto max-w-3xl py-10">
    <RegisterJuradoForm client:load />
  </div>
</LayoutFormularios>
