---
import Layout from '../../layouts/Layout.astro'
---

<Layout>
  <section class="max-w-xl mx-auto my-10 p-6 bg-white rounded shadow">
    <h1 class="text-2xl font-bold mb-4 text-center">¡Registro Exitoso!</h1>
    <p class="text-center">El jurado ha sido registrado correctamente.</p>
    <div class="mt-6 text-center">
      <a href="/admin" class="text-gold-600 hover:underline"
        >Registrar otro jurado</a
      >
    </div>
  </section>
</Layout>
