---
import Head from '../../components/Head.astro'
import ListaJurados from '../../components/admin/ListaJurados'
import BackButton from '../../components/ui/BackButton.astro'
import Layout from '../../layouts/Layout.astro'
---

<Head
  title="Lista de Jurados | Premios Príncipe de los Páramos"
  description="Lista de Jurados"
/>
<Layout>
  <header class="bg-black p-4">
    <div class="container mx-auto">
      <BackButton />
    </div>
  </header>
  <main class="py-12">
    <ListaJurados client:only="react" />
  </main>
</Layout>
